/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: "Trebuchet MS", helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ddeeaa;
    color: #000000;
    text-align: justify;
}

.clear {
    clear: both;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    border: 2px solid #ab4;
    background-color: #FFF;
}

header {
    background-color: #98BF0C;
    background-image: url(../img/particulier.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: inherit;
    margin: 0;
    width: 100vw;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
}


nav {
    background-color: #98BF0C;
    padding-top: 3rem;
    margin-top: -100vh;
    transition: all 600ms ease;
    width: 100%;
    aspect-ratio: 1;
}


nav.show {
    margin-top: 0;
    height: 100vh;

}


nav.show ul {
    /*background-color: #D6F5AD;*/
}

nav.show ul li {
    list-style-type: none;
    margin: .5em auto;
    color: #000000;
    text-align: left;
    font-size: 1.5em;
    border-radius: 15px;
    width: 12em;
}

nav.show ul li a {
    background-color: inherit;
    /*color: #5D7623;*/
    color: #000000;
    text-decoration: underline;
}

nav.show ul li:hover {
    background-color: #5D7623;;

}

nav.show ul li:hover a:link {
    color: #fff;
    text-decoration: none;
}

#menu {
    display: block;
    float: right;
    margin-right: 3vw;
    margin-top: 2vh;
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#menu .menu-stripes {
    width: 42px;
    height: 6px;
    background-color: #ffffff;
    display: block;
    border-radius: 10px;
    margin: 2px auto;
}

#menu .menu-stripes:hover {
    cursor: pointer;
}


#content {
    padding: 1.5rem;
    color: #2e0526;
}

#content h2 {
    background: url(../img/bullet.gif) no-repeat top left;
    background-attachment: inherit;
    background-color: inherit;
    color: #B2C121;
    padding: 0 10px 4px 35px;
    font-size: 2em;
    line-height: 2.25rem;
    border-bottom: solid 2px #B2C121;
    margin-top: 2.25rem;
}

#content h3 {
    background: inherit;
    color: #2E0526FF;
    font-size: 1.5em;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

#content p, #content ul {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.2em;
}

#bas {
    margin-top: 5%;
    background: inherit;
    color: #B2C121;
    text-align: center;
    font-size: .9em;

}

@media screen and (min-width: 950px) {

    header {
        aspect-ratio: 3;
        background-size: 50%;
        background-position: left center;
        position: initial;
    }

    #menu {
        display: none;
    }

    header nav{
        background-color: transparent;
        width: 50%;
        float: right;
    }

    header nav ul li {
        background-color: #fff;
        margin: .8em auto;
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5rem;
        border-radius: 4px;
        width: 12em;
    }

    header nav ul li a {
        background-color: inherit;
        color: #0f1206;
        text-decoration: underline;
    }

    header nav ul li:hover {
        background-color: #5D7623;

    }

    header nav ul li:hover a:link {
        color: #fff;
        text-decoration: none;
    }

    header nav ul li a:visited {
        background-color: inherit;
        color: #B2C121;
        text-decoration: none;
    }


    #content {
        background-image: url(../img/vert.gif);
        background-position: 20px 20px;
        background-repeat: no-repeat;
        padding: 2rem 2rem 2rem calc(42px + 2rem);

    }

    #content p {
        font-size: 1.5em;
        line-height: 1.2em;
    }
}

