/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    font-family:"Trebuchet MS", helvetica,Arial, sans-serif ;
    font-size:12px;
    background-color:#ddeeaa;
    color:#000000;
    text-align: justify;
}

.clear{
    clear: both;
}
#main{
    max-width:80vw;
    margin : 1em auto;
    border: 2px solid #ab4;
    background-color:#FFF;
}

#top{
    background-color: #98BF0C;
    background-image: url(../img/particulier.jpg) ;
    background-repeat: no-repeat;
    background-position: left;
    color: inherit;
    margin: 0 1px;
    height: 330px;
}

nav {
    padding-top: 3em;
    width: 44%;
    float: right;
    /* margin-left: 67%; */
    text-align: center;
}
#top nav ul{
    float: right;
    /* margin-right: 4%; */
    margin: auto;
    display: inline-block;
    list-style-type: none;
    width: 100%;
}

#top nav ul li {
    background-color: #fff;
    margin: .8em auto;
    padding: .7em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 15px;
    width: 12em;
}
#top nav ul li a{
    background-color: inherit;
    color: #5D7623;
    text-decoration:none;
}
#top nav ul li:hover{
    background-color: #5D7623;;

}
#top nav ul li:hover a:link{
    color: #fff;
    text-decoration: none;
}
#top nav ul li a:visited{
    background-color: inherit;
    color: #B2C121;
    text-decoration: none;
}

#content{
    background-image: url(../img/vert.gif);
    background-position: 20px 20px;
    background-repeat: no-repeat;
    color: #670B50;
    padding: 10px 10px 10px 100px;
}

#content h2{
    background: inherit;
    background-image: url(../img/bullet.gif);
    background-repeat: no-repeat;
    background-position: top left;
    color: #B2C121;
    padding :0 10px 4px 35px;
    font-size: 2em;
    border-bottom: solid 2px #B2C121; 

}

#content h3{
    background: inherit;
    color: #000;
    font-size: 1.5em;
}

#content p, #content ul{
    font-size: 1.2em;
}
#bas{
    margin-top: 5%;
    background: inherit;
    color: #B2C121;
    text-align: center;
    font-size: .9em;

}
nav #menu{
    display: none;
}


@media screen and (max-width: 950px) {
    #top {
        background-size: 60% auto;
    }
}
@media screen and (max-width: 740px) {
    #top {
        height: 30vh;
        background-size: cover;
        background-position-y: -20vh;
    }
    nav{
        height: 8vh;
        padding-top: 5px;
        overflow: hidden;
        transition: all 10s ease;
    }

    nav:hover{
        overflow: auto;
        height: auto;
    }
    nav #menu{
       display: block;
       float: right;
       margin-right: 3vw;
       margin-top: 2vh;
    }
    nav:hover ul{
        background-color: #D6F5AD;
    }
   nav .menu-stripes{
        width: 42px;
       height: 6px;
       background-color: #ffffff;
       display: block;
       border-radius: 10px;
       margin: 2px auto;
   }
    nav .menu-stripes:hover{
        cursor: grab;
    }
    nav ul li{
        //display: none;
    }
    nav:hover ul li{
        //display: block;
    }
    #content p{
        font-size: 1.5em;
        line-height: 1.2em;
    }
}
@media screen and (max-width: 620px) {
    #main{
        max-width: 100vw;
    }
    #top{
        background-position-y: -21vh;
        height: 36vh;
    }
    #content{
        background-position: 0px 20px;
    }

}

@media screen and (max-width: 480px) {
    #top{
        background-position-y: -8vh;
        height: 27vh;
    }
}